@using PizzaWebsite.Models.Shop
@model OrderStatusViewModel
@{
    ViewBag.Title = "Order Status";
}
<h2>@ViewBag.Title</h2>
<div>
    <a href="@Url.Action("Index")?@(Request.QueryString)">
        <input type="button" value="Back" class="btn btn-primary"/>
    </a>
</div>
<div id="orderStatusSection">
    <p id="orderStatusText"></p>
</div>
@section Scripts {
    <script type="text/javascript">
        function updateOrderStatus() {
            var orderId = @Model.CustomerOrderId;
            pizzaSiteOrderStatusNs.updateOrderStatusText(orderId);
        }
        $(function () {
            updateOrderStatus();
        });
    </script>
}