@using PizzaWebsite.Models
@model PizzaWebsite.Models.CartViewModel

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

@if (!Model.IsEmpty())
{
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Price</th>
            @* Empty table header for controls. *@
            <th></th>
        </tr>
        @foreach (CartItemViewModel cartItemVm in Model.CartItemList)
        {
            <tr>
                <td>@cartItemVm.Name</td>
                <td>@Html.Raw(cartItemVm.Description)</td>
                <td>@cartItemVm.Price</td>
                <td></td>
            </tr>
        }
    </table>
}