@model PizzaWebsite.Models.StoreLocationViewModel

@{
    ViewBag.Title = "Create New Store";
}

<h2>Create New Store</h2>

@Html.Partial("_StoreLocationPartial")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
