@model PizzaWebsite.Models.ConfirmationViewModel
@{
    ViewBag.Title = "Confirmed";
}

<h2>Confirmed</h2>
<p>@Model.ConfirmationMessage</p>
<p>Click <a href="@Model.ReturnUrlAction">here</a> to return to where you were.</p>