@model PizzaWebsite.Models.StoreLocationViewModel

@{
    if (Model.IsNewRecord())
    {
        ViewBag.Title = "Create Store";
        <h2>Create Store</h2>
    }
    else
    {
        ViewBag.Title = "Edit Store";
        <h2>Edit Store</h2>
    }
}

@Html.Partial("_StoreLocationPartial")

<div>
    <a href="@Url.Action("ManageStores", "ManageWebsite")?@(Request.QueryString)">
        <input type="button" value="Back" class="btn btn-default" />
    </a>
</div>