@model PizzaWebsite.Models.StoreLocationViewModel

@{
    ViewBag.Title = "Edit Store";
}

<h2>Edit Store</h2>

@Html.Partial("_StoreLocationPartial")

<div>
    @using (Html.BeginForm("ManageStores", "ManageWebsite", FormMethod.Get))
    {
        @Html.Hidden("StoreName", Request["StoreName"])
        @Html.Hidden("Page", Request["Page"])
        @Html.Hidden("RowsPerPage", Request["RowsPerPage"])
        <input type="submit" value="Back" class="btn btn-default" />
    }
</div>
