@model PizzaWebsite.Models.StoreLocationViewModel

@{
    ViewBag.Title = "Edit Store";
}

<h2>Edit Store</h2>

@Html.Partial("_StoreLocationPartial")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
