@model PizzaWebsite.Models.StoreLocationViewModel

@{
    ViewBag.Title = "Edit Store";
}

<h2>Edit Store</h2>

@Html.Partial("_StoreLocationPartial")

<div>
    @*/
    @Html.ActionLink("Back to List", "Index")
        /*@
    @using (Html.BeginForm("ManageStores", "ManageWebsite", FormMethod.Get))
    {
        @Html.Hidden("StoreName", Request["StoreName"])
        <input type="submit" value="Back" class="btn btn-default" />
    }
</div>
