@model PizzaWebsite.Models.ErrorViewModel
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<p>@Model.ErrorMessage</p>
<p>Click <a href="@Model.ReturnUrlAction">here</a> to return to where you were.</p>