
@{
    ViewBag.Title = "Manage Website";
}

<h2>Manage Website</h2>

<ul>
    <p>
        @using (Html.BeginForm("ManageStores", "ManageWebsite", FormMethod.Get))
        {
            @Html.Hidden("Page", "1")
            @Html.Hidden("RowsPerPage", "50")
            <input type="submit" value="Manage Stores" class="btn btn-default" />
        }
    </p>
</ul>