
@{
    ViewBag.Title = "Manage Website";
}

<h2>Manage Website</h2>

<ul>
    <li>
        <a href="@Url.Action("Index", "ManageMenu")?Page=1&RowsPerPage=10">
            <input type="button" value="Manage Menu" class="btn btn-default" />
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ManageStores")?Page=1&RowsPerPage=10">
            <input type="button" value="Manage Stores" class="btn btn-default" />
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ManageUsers")?Page=1&RowsPerPage=10">
            <input type="button" value="Manage Users" class="btn btn-default" />
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ManageEmployees")?Page=1&RowsPerPage=10">
            <input type="button" value="Manage Employees" class="btn btn-default" />
        </a>
    </li>
</ul>