
@{
    ViewBag.Title = "Manage Website";
}

<h2>Manage Website</h2>

<ul>
    <li>
        <a href="@Url.Action("ManageStores", "ManageWebsite")?Page=1&RowsPerPage=10">
            <input type="button" value="Manage Stores" class="btn btn-default" />
        </a>
    </li>
</ul>