@* todo: Remove test view, test action, and test images after implementation is finished. *@
@{
    ViewBag.Title = "Pizza Builder Test";
}
<h2 id="pb-header">Pizza Builder Test</h2>
<div id="pizza-builder">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 hidden-xs">
                @*<div id="pizza-builder-image-section">
                    <div id="crust-layer">
                        <img menu-id="1" src="~/Content/Images/PizzaBuilderTest/Crust/hand-tossed-pb.webp" />
                        <img menu-id="2" src="~/Content/Images/PizzaBuilderTest/Crust/pan-pb.webp" />
                        <img menu-id="3" src="~/Content/Images/PizzaBuilderTest/Crust/stuffed-pb.webp" />
                        <img menu-id="4" src="~/Content/Images/PizzaBuilderTest/Crust/thin-pb.webp" />
                    </div>
                    <div id="sauce-layer">
                        <img menu-id="1" src="~/Content/Images/PizzaBuilderTest/Sauce/bbq-pb.webp" />
                        <img menu-id="2" src="~/Content/Images/PizzaBuilderTest/Sauce/buffalo-pb.webp" />
                        <img menu-id="3" src="~/Content/Images/PizzaBuilderTest/Sauce/parmesan-pb.webp" />
                        <img menu-id="4" src="~/Content/Images/PizzaBuilderTest/Sauce/marinara-pb.webp" />
                    </div>
                    <div id="topping-layer">
                        <div menu-id="1">
                            <img src="~/Content/Images/PizzaBuilderTest/Topping/pepperoni-pb.webp"/>
                        </div>
                    </div>
                </div>*@
                <div id="pizza-builder-image-section">
                    <canvas id="pizza-builder-canvas"></canvas>
                </div>
            </div>
            <div class="col-sm-9 col-xs-12">
                <div id="pizza-builder-menu-section">
                    @* Testing tall div elements *@
                    @for (int i = 1; i <= 50; i++)
                    {
                        <p>@i</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSitePizzaBuilderNs.initializePizzaBuilder();
        });
    </script>
}