@* todo: Remove test view, test action, and test images after implementation is finished. *@
@{
    ViewBag.Title = "Pizza Builder Test";
}
<h2 id="pb-header">Pizza Builder Test</h2>
<div id="pizza-builder">
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-6">
                <div id="pizza-builder-image-section">
                    <div id="crust-layer">
                        <img id="crust-layer-img" />
                    </div>
                    <div id="sauce-layer">
                        <img id="sauce-layer-img" />
                    </div>
                    <div id="cheese-layer">
                        <img id="cheese-layer-img" />
                    </div>
                    @* todo: Remove default img src attribute. *@
                    @*div id="topping-layer">
                        <div menu-id="1">
                            <img src="~/Content/Images/PizzaBuilderTest/Topping/pepperoni-pb.webp"/>
                        </div>
                    </div>*@
                </div>
            </div>
            <div id="pizza-builder-menu-section" class="col-xs-12 col-sm-6 container">
                <fieldset id="crust-fieldset" class="row">
                    <legend class="col-xs-12">Crust</legend>
                    <label class="col-xs-3 col-sm-4 col-md-3">
                        <input type="radio" id="crust-1" name="crustGroup" value="1" pb-img-src="~/Content/Images/PizzaBuilderTest/Crust/hand-tossed-pb.webp" checked />
                        <div class="pb-menu-icon" style="background-image: url('/Content/Images/PizzaBuilderTest/Crust/hand-tossed-mi.webp')"></div>
                        <i>Hand Tossed</i>
                    </label>
                    <label class="col-xs-3 col-sm-4 col-md-3">
                        <input type="radio" id="crust-2" name="crustGroup" value="2" pb-img-src="~/Content/Images/PizzaBuilderTest/Crust/thin-pb.webp" />
                        <div class="pb-menu-icon" style="background-image: url('/Content/Images/PizzaBuilderTest/Crust/thin-mi.webp')"></div>
                        <i>Thin</i>
                    </label>
                </fieldset>
                <fieldset id="size-fieldset" class="row">
                    <legend class="col-xs-12">Size</legend>
                    <label class="col-xs-12 col-sm-4">
                        <input type="radio" name="sizeGroup" value="large" checked />
                        <div class="text-only">
                            <i>Large</i>
                            <i>8 Slices</i>
                        </div>
                    </label>
                    <label class="col-xs-12 col-sm-4">
                        <input type="radio" name="sizeGroup" value="medium" />
                        <div class="text-only">
                            <i>Medium</i>
                            <i>8 Slices</i>
                        </div>
                    </label>
                    <label class="col-xs-12 col-sm-4">
                        <input type="radio" name="sizeGroup" value="small" />
                        <div class="text-only">
                            <i>Small</i>
                            <i>6 Slices</i>
                        </div>
                    </label>
                </fieldset>
                <fieldset id="sauce-fieldset" class="row">
                    <legend class="col-xs-12">Sauce</legend>
                    <label class="col-xs-3 col-sm-4 col-md-3">
                        <input type="radio" id="sauce-1" name="sauceGroup" value="1" pb-img-src="~/Content/Images/PizzaBuilderTest/Sauce/marinara-pb.webp" checked />
                        <div class="pb-menu-icon" style="background-image: url('/Content/Images/PizzaBuilderTest/Sauce/marinara-mi.webp')"></div>
                        <i>Marinara</i>
                    </label>
                    <label class="col-xs-3 col-sm-4 col-md-3">
                        <input type="radio" id="sauce-2" name="sauceGroup" value="2" pb-img-src="~/Content/Images/PizzaBuilderTest/Sauce/buffalo-pb.webp" />
                        <div class="pb-menu-icon" style="background-image: url('/Content/Images/PizzaBuilderTest/Sauce/buffalo-mi.webp')"></div>
                        <i>Buffalo</i>
                    </label>
                </fieldset>
                <fieldset id="sauce-amount-fieldset" class="row">
                    <legend class="col-xs-12">Amount</legend>
                    <label class="col-xs-12 col-sm-3">
                        <input type="radio" name="sauceAmountGroup" value="extra" />
                        <div class="text-only">
                            <i>Extra</i>
                        </div>
                    </label>
                    <label class="col-xs-12 col-sm-3">
                        <input type="radio" name="sauceAmountGroup" value="regular" checked />
                        <div class="text-only">
                            <i>Regular</i>
                        </div>
                    </label>
                    <label class="col-xs-12 col-sm-3">
                        <input type="radio" name="sauceAmountGroup" value="light" />
                        <div class="text-only">
                            <i>Light</i>
                        </div>
                    </label>
                    <label class="col-xs-12 col-sm-3">
                        <input type="radio" name="sauceAmountGroup" value="none" />
                        <div class="text-only">
                            <i>None</i>
                        </div>
                    </label>
                </fieldset>
                <fieldset id="cheese-fieldset" class="row">
                    <legend class="col-xs-12">Cheese</legend>
                    <label class="col-xs-3 col-sm-4 col-md-3">
                        <input type="radio" id="cheese-1" name="cheeseGroup" value="1" pb-img-src="~/Content/Images/PizzaBuilderTest/Cheese/regular-cheese-pb.webp" checked />
                        <div class="pb-menu-icon" style="background-image: url('/Content/Images/PizzaBuilderTest/Cheese/regular-cheese-mi.webp')"></div>
                        <i>Regular Cheese</i>
                    </label>
                    <label class="col-xs-3 col-sm-4 col-md-3">
                        <input type="radio" id="cheese-2" name="cheeseGroup" value="2" pb-img-src="~/Content/Images/PizzaBuilderTest/Cheese/spicy-cheese-pb.webp" />
                        <div class="pb-menu-icon" style="background-image: url('/Content/Images/PizzaBuilderTest/Cheese/spicy-cheese-mi.webp')"></div>
                        <i>Spicy Cheese</i>
                    </label>
                </fieldset>
                <fieldset id="cheese-amount-fieldset" class="row">
                    <legend class="col-xs-12">Amount</legend>
                    <label class="col-xs-12 col-sm-3">
                        <input type="radio" name="cheeseAmountGroup" value="extra" />
                        <div class="text-only">
                            <i>Extra</i>
                        </div>
                    </label>
                    <label class="col-xs-12 col-sm-3">
                        <input type="radio" name="cheeseAmountGroup" value="regular" checked />
                        <div class="text-only">
                            <i>Regular</i>
                        </div>
                    </label>
                    <label class="col-xs-12 col-sm-3">
                        <input type="radio" name="cheeseAmountGroup" value="light" />
                        <div class="text-only">
                            <i>Light</i>
                        </div>
                    </label>
                    <label class="col-xs-12 col-sm-3">
                        <input type="radio" name="cheeseAmountGroup" value="none" />
                        <div class="text-only">
                            <i>None</i>
                        </div>
                    </label>
                </fieldset>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSitePizzaBuilderNs.initializePizzaBuilder();
        });
    </script>
}