@* todo: Remove test view, test action, and test images after implementation is finished. *@
@{
    ViewBag.Title = "Pizza Builder Test";
}
<h2 id="pb-header">Pizza Builder Test</h2>
<div id="pizza-builder">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 hidden-xs">
                <div id="pizza-builder-image-section">
                    <img src="~/Content/Images/PizzaBuilderTest/Crust/hand-tossed-pb.webp"/>
                </div>
            </div>
            <div class="col-sm-9 col-xs-12">
                <div id="pizza-builder-menu-section">
                    @for (int i = 0; i < 50; i++)
                    {
                        <p>menu</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSitePizzaBuilderNs.initializePizzaBuilder();
        });
    </script>
}