@* todo: Remove test view, test action, and test images after implementation is finished. *@
@{
    ViewBag.Title = "Pizza Builder Test";
}
<h2>Pizza Builder Test</h2>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            pizzaSitePizzaBuilderNs.testAlert();
        });
    </script>
}