@model PizzaWebsite.ViewModels.Home.UserProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message1)
        </dd>

    </dl>
</div>
