#pizza-builder-image-section {
    width: 100%;
    height: 100%;
}

#crust-layer {
}

#pizza-builder-image-section img {
    width: 100%;
    position: absolute;
}

#pizza-builder-menu-section {
    background-color: lightsteelblue;
}

.pizza-builder-fixed-image-section {
    position: fixed;
}
