@import "../bootstrap/_functions";
@import "../bootstrap/_variables";
@import "../bootstrap/_mixins";
$menu-border-color: $gray-200;
$tab-font-color: $gray-500;
$tab-bg-color: $gray-600;
$tab-font-color-selected: $gray-900;
$tab-bg-color-selected: $gray-200;
$menu-image-border-color: $gray-300;
$menu-image-border-color-selected: $red-400;
$menu-text-input-border-color: $gray-400;
$menu-text-input-border-color-selected: $red-400;
#pizza-builder-image-section {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    img {
        width: 100%;
        position: absolute;
    }
}
#pb-tabs {
    button.tab {
        color: $tab-font-color;
        background-color: $tab-bg-color;
        border-color: $menu-border-color;
        border: none;
        font-size: 1.3em;
        padding: 0.25em;
        font-weight: 400;
    }

    button.selected-tab {
        color: $tab-font-color-selected;
        background-color: $tab-bg-color-selected;
    }
}
#pb-menu-container {
    border: 1px solid $menu-border-color;
}
.pb-menu-section {
    .pb-menu-icon {
        width: 100%;
        height: 50px;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    label {
        cursor: pointer;
    }

    label.text-only-label {
        padding: 1px;
    }

    i {
        display: block;
        text-align: center;
    }

    fieldset, legend {
        border-color: $menu-border-color;
        border-style: solid;
        border-width: 0 0 1px;
    }

    fieldset {
    }

    legend {
    }

    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    [type=radio] + div.pb-menu-icon {
        border-style: solid;
        border-color: $menu-image-border-color;
        border-width: 0px 0px 4px 0px;
    }

    [type=radio]:checked + div.pb-menu-icon {
        border-color: $menu-image-border-color-selected;
    }

    [type=radio] + div.text-only {
        border-style: solid;
        border-color: $menu-text-input-border-color;
        border-width: 1px;
        border-radius: 3px;
    }

    [type=radio]:checked + div.text-only {
        border-color: $menu-text-input-border-color-selected;
    }
}
@include media-breakpoint-up(sm) {
    #pb-tabs {
        button.tab {
            color: $tab-font-color;
            background-color: $tab-bg-color;
        }

        button.selected-tab {
            color: $tab-font-color-selected;
            background-color: transparent;
        }
    }
}