@using PizzaWebsite.Models.ManageMenuImages
@model ManageMenuIconViewModel
<h3>Menu Icon</h3>
<div>
    <img src="@Model.ImageUrl" alt="No Image" style="width: 100px; height: 50px;"/>
    <p>@Model.Description</p>
</div>
<div>
    <input id="menuIconBrowseButton" type="button" value="Browse..." />
    <input id="menuIconResetButton" type="button" value="Reset" />
</div>