@* Functionality requires a JavaScript call to pizzaSiteManageMenuImageNs.initializeManageMenuIconSection. *@
<div>
    <img id="menuIcon" src="@Model.MenuIconUrl" alt="Missing Menu Icon" style="display: block;" />
    <div id="menuIconDropArea">
        <h3>Drag and Drop Files Here</h3>
        <input type="file" title="Upload Files">
        <p id="menuIconError" class="text-danger" style="display: none;"></p>
    </div>
</div>