@* Functionality requires a JavaScript call to pizzaSiteManageMenuImageNs.initializeManagePizzaBuilderImageSection *@
@using PizzaWebsite.Models.ManageMenuImages
@model ManagePizzaMenuIngredientImagesViewModel
<div>
    <h3>Pizza Builder Image</h3>
    <p>@Model.PizzaBuilderImageDescription</p>
    <div id="pizzaBuilderImageDropArea">
        <input type="file" title="Upload File...">
    </div>
    <p id="pizzaBuilderImageError" class="text-danger" style="display: none;"></p>
    <img id="pizzaBuilderImage" src="@Model.PizzaBuilderImageUrl" alt="Missing Pizza Builder Image" class="manage-menu-image" />
</div>