@using PizzaWebsite.Models.ManageWebsite
@model EmployeeRosterViewModel

@{
    ViewBag.Title = Model.ViewTitle;
}
<h2>@Model.ViewTitle</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageWebsite")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageStores")?@Request.QueryString">Manage Stores</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.ViewTitle</li>
    </ol>
</nav>
<hr />

@* todo: Create form for *@
@* todo: Display employee roster list here*@