@{
    ViewBag.Title = "Confirm Your Email Address";
}
<h2>@ViewBag.Title</h2>
<p class="text-info">
    A confirmation code has been sent to your email address. Please check your email to confirm your account.
</p>