@using PizzaWebsite.Models.Menu.Pizzas.Ingredients
@using PizzaWebsite.Models.Manage
@model ManagePizzaIngredientsModel
@{
    ViewBag.Title = "Manage Pizza Ingredients";
}

<h2>Manage Pizza Ingredients</h2>
<div>
    @using (Html.BeginForm("AddPizzaIngredient", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.DropDownListFor(m => m.SelectedIngredient,
       Model.Ingredients,
       null,
       new { @class = "" })
        <input type="submit" value="Add" class="btn btn-primary"/>
    }
</div>