@using PizzaWebsite.Models.Carts
@model CostSummaryViewModel
<table class="table">
    <tr>
        <td>Subtotal</td>
        <td>@Model.Subtotal</td>
    </tr>
    <tr>
        <td>Tax</td>
        <td>@Model.Tax</td>
    </tr>
    <tr>
        <td>Total</td>
        <td>@Model.Total</td>
    </tr>
</table>