@using PizzaWebsite.Models.Carts
@model CostSummaryViewModel
<div class="container">
    <div class="row">
        <div class="col-sm-6">Subtotal</div>
        <div class="col-sm-6">@Model.Subtotal</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Tax</div>
        <div class="col-sm-6">@Model.Tax</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Total</div>
        <div class="col-sm-6">@Model.Total</div>
    </div>
</div>